body{
    --right-pos-selector:100px;
    --top-pos-selector:100px;
}


.game-field{
    display: flex;
    justify-content: space-around;
}

.place-ship-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 400px;
}

.cell-div{
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.selector{
    position: absolute;
    right: var(--right-pos-selector);

}

.selected{
    border: 3px solid black;
}

.selector-2,.selector-2-1{
    background-color: green;
    height: 40px;
    width : 80px
}

.selector-2{
    top: var(--top-pos-selector);
}

.selector-2-1{
    top: calc(var(--top-pos-selector) + 50px);
}

.selector-3{
    top: calc(var(--top-pos-selector) + 100px);
    background-color: red;
    height: 40px;
    width: 120px;

}

.selector-4{
    top: calc(var(--top-pos-selector) + 150px);
    background-color: orange;
    height: 40px;
    width: 160px;
}

.selector-5{
    top: calc(var(--top-pos-selector) + 200px);
    background-color: blue;
    height: 40px;
    width: 200px;
}


.len-2,.len-2-hover{
    background-color: green;
}

.len-3,.len-3-hover{
    background-color: red;
}

.len-4,.len-4-hover{
    background-color: orange;
}

.len-5,.len-5-hover{
    background-color: blue;
}