body{
    --right-pos-selector:0px;
    --top-pos-selector:0px;
    --test-border:0px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* select mode */
.mode-selector-div{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--test-border);
    --button-font-size:1.5em;
    padding: 50px;

}

#computer{
    margin-bottom: 50px;
    font-size: var(--button-font-size);
}

#two-player{
    font-size: var(--button-font-size);
}

/* main parent */

.main-place-ship{
    display: grid;
    grid-template-columns: 500px 250px;
}

/* selectors div */

.selector-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--test-border);
}

.selector-container{
    margin-top: 60px;
    margin-bottom: 20px;
    height: 300px;
}

.selected{
    border: 3px solid black;
}

.selector{
    margin-bottom: 20px;
    
}

.selector-2,.selector-2-1{
    background-color: green;
    height: 40px;
    width : 80px
}


.selector-3{
    background-color: red;
    height: 40px;
    width: 120px;

}

.selector-4{
    background-color: orange;
    height: 40px;
    width: 160px;
}

.selector-5{
    background-color: blue;
    height: 40px;
    width: 200px;
}

.random-place{
    font-size: 1.3em;
    padding: 10px 20px 10px 20px;
}

/* button container */

.button-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 25px 0px;
    border: var(--test-border);
    gap: 50px;
}

.reset-button,.save-button{
    font-size: var(--button-font-size);
    padding: 10px 50px 10px 50px;
}
/* place ship container */
.grid-container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 400px;
}

.change-direction-button{
    margin:10px 0px 20px 0px;
}




.game-field{
    display: flex;
    justify-content: space-around;
}

.place-ship-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--test-border);
    
}



.cell-div{
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}






.len-2,.len-2-hover{
    background-color: green;
}

.len-3,.len-3-hover{
    background-color: red;
}

.len-4,.len-4-hover{
    background-color: orange;
}

.len-5-hover{
    background-color: black;
}
.len-5{
    background-color: blue;
}

